<style>
    #mainView {
        padding: 0 20px 40px 20px;
    }

    #sideBar {
        height: 400px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
</style>

<!-- STYLING -->
<div ng-controller="unresolvedAppointmentsStaffController" ng-init="init()">
    <ul class="nav" style="margin-bottom: 10px;">
        <li class="nav-item">
            <a class="nav-link active" href="" ui-sref="home.appointments" style="text-decoration: underline;">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="" ui-sref="home.unresolved-appointments-staff"
               style="text-decoration: underline;">Unresolved appointments <span
                    ng-if="unresolvedAppointmentCountForCurrentStaff > 0"
                    style="padding-left: 5px;"
                    class="badge badge-warning">{{unresolvedAppointmentCountForCurrentStaff}}</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="" ui-sref="home.appointments-history"
               style="text-decoration: underline;">History</a>
        </li>
    </ul>

    <div id="mainView">

        <div ng-if="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ successMessage }}
        </div>
        <!-- SUCCESS MESSAGE ALERT -->

        <div ng-if="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <a class="close" style="padding-right: 0; font-size: 1em; padding-top: 16px;"
               ng-click="getUnresolvedAppointmentsForStaff()">
                retry
            </a>
            {{ errorMessage }}
        </div>
        <!-- ERROR MESSAGE ALERT -->

        <div class="row no-gutters">
            <div class="col col-lg-12" style="overflow: auto;">
                <h1 class="display-4" style="margin-top: 15px; margin-bottom: 30px; text-align: center;">Unresolved
                    Appointments</h1>
                <div class="form-row" style=" margin: 0; margin-bottom: 10px;">
                    <div class="form-group col-auto ">
                        <label>Filter by Status</label>
                        <select ng-model="statusToFilterBy" class="form-control"
                                ng-change="getUnresolvedAppointmentsForStaff()">
                            <option value="All">All</option>
                            <option value="Pending">Pending</option>
                            <option value="Resolved">Resolved</option>
                        </select>
                    </div>
                    <div class="form-group col-auto" style="margin-left: 50px;">
                        <label>Search by Date</label>
                        <div class="input-group mb-2 mb-sm-0" style="height: 38px;">
                            <input type="checkbox" class="form-check-input" ng-model="searchByDate"
                                   style="margin-top: 10px;"/>
                            <input type="date" class="form-control" ng-model="searchDateBeginDate"/>
                            <input type="date" class="form-control" ng-model="searchDateEndDate"/>
                            <a href="" style="color: white;" ng-disabled="!searchByDate"
                               ng-click="getUnresolvedAppointmentsWithinSearchDate()"
                               class="input-group-addon btn btn-primary bg-primary btn-xs">
                                Search
                            </a>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead class="thead-default">
                    <tr>
                        <th>#</th>
                        <th>Visitor's name</th>
                        <th>Subject</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="getAppointmentForStaffLoading">
                        <td align="center" colspan="6">
                            <p>Loading...</p>
                        </td>
                    </tr>
                    <tr ng-if="!getAppointmentForStaffLoading && unresolvedAppointmentsForStaff.length == 0">
                        <td align="center" colspan="6">
                            <p class="lead">No unresolved appointments available yet.</p>
                        </td>
                    </tr>
                    <tr ng-if="!getAppointmentForStaffLoading"
                        ng-repeat="appointment in unresolvedAppointmentsForStaff">
                        <th scope="row" ng-bind="$index + 1"></th>
                        <td>{{ appointment.visitor.name }}</td>
                        <td>{{ appointment.subject }}</td>
                        <td>{{ getDateString(appointment.dateTime) }}</td>
                        <td>{{ appointment.status }}</td>
                        <td>
                            <button class="btn btn-link btn-sm" ng-click="viewAppointment(appointment)">View
                            </button>
                            <button class="btn btn-primary btn-sm" ng-click="showResolveAppointmentModal(appointment)">
                                Resolve
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- MAIN VIEW -->

    <div class="modal fade" id="viewAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="viewAppointmentModal"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View appointment</h5>
                </div>
                <div class="modal-body">
                    <form style="padding: 15px 30px 0 30px;">
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label class="col-form-label">Subject</label>
                                <input disabled="true" class="form-control" ng-model="appointmentToView.subject"/>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="col-form-label">Time</label>
                                <input disabled="true" type="datetime-local" class="form-control"
                                       ng-model="editTime"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label">Status</label>
                                <select disabled="true" ng-model="appointmentToView.status" class="form-control">
                                    <option value="Signed In">Signed In</option>
                                    <option value="Signed Out">Signed Out</option>
                                    <option value="Unattended">Unattended</option>
                                </select>
                            </div>
                        </div>
                        <p class="lead"
                           style="font-weight: 400; margin-top: 10px; margin-bottom: 0; text-align: center;">
                            Visitor
                        </p>
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label class="col-form-label">Name</label>
                                <input disabled="true" class="form-control" ng-model="appointmentToView.visitor.name"/>
                            </div>
                            <div class="form-group col-md-5">
                                <label class="col-form-label">Phone number</label>
                                <input disabled="true" class="form-control"
                                       ng-model="appointmentToView.visitor.phoneNumber"/>
                            </div>
                            <div class="form-group col-md-12">
                                <label class="col-form-label">Address</label>
                                <textarea rows="3" class="form-control" disabled="true"
                                          ng-model="appointmentToView.visitor.address"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- VIEW APPOINTMENT MODAL -->

    <div class="modal fade" id="resolveAppointmentModal" tabindex="-1" role="dialog"
         aria-labelledby="resolveAppointmentModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Resolve Appointment</h5>
                </div>
                <div class="modal-body" style="padding-left: 15px; padding-right: 15px;">
                    <p class="lead">Proceed?</p>
                    <div class="form-group">
                        <label class="col-form-label">Resolve Comment</label>
                        <input class="form-control" ng-model="resolveComment"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-info" ng-disabled="resolveComment.length == 0"
                            ng-click="resolveAppointment()">Continue
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- RESOLVE APPOINTMENT MODAL -->
</div>